ul{
	list-style-type: none;
}

.btn-danger{
	background-color:#007738 !important;
	border-color:#007738;
}
.panel{
	height:65%;
}
intro-text{
	font-family: 'Anton', sans-serif!important;
	
}
#sel2{
	margin:0 auto!important;
	height: 250px;
	width: 250px;
}
#margin{
	margin:0 auto!important;
}
