<div ng-controller="itemsCtrl" class="itemCtrl">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=530509437158773";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<!-- Page Content -->
	<div class="container">

		<!-- Item Heading -->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"> {{name}} <small>{{drinks["0"].occasions["0"].text}}</small></h1>
				
			</div>
		</div>
		<!-- /.row -->

		<!-- Item Row -->
		<div class="row">

			<div class="col-md-8" >
				<object width="100%" height="100%"  
				data="http://assets.absolutdrinks.com/videos/{{id}}.mp4" >
				<img src="http://assets.absolutdrinks.com/drinks/solid-background-black/soft-shadow/floor-reflection/{{id}}.png" alt="No video or Image avilable" width="100%" height="100%"/>
				</object>
			</div>

			<div class="col-md-4" >
				    <a class="btn btn-social-icon btn-instagram">
    <span class="fa fa-instagram"></span>
  </a>
				  <a class="btn btn-social-icon btn-twitter">
    <span class="fa fa-twitter"></span>
  </a>
   <a class="btn btn-social-icon btn-facebook">
    <span class="fa fa-facebook"></span>
  </a>
<div class="btn btn-social-icon btn-facebook" data-href="http://unlocking.co.il/Drink/#/items/beerbuster/Beerbuster" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Funlocking.co.il%2FDrink%2F%23%2Fitems%2F{{id}}%2F{{name}}&amp;src=sdkpreparse">Share</a></div>

				<h3>Description</h3>
				<p>
					{{drinks['0'].descriptionPlain}}
				</p>
				<h3>Ingridients</h3>
				<ul>
					<li>
						{{drinks['0'].ingredients['0'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['1'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['2'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['3'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['4'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['5'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['6'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['7'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['8'].textPlain}}
					</li>
					<li>
						{{drinks['0'].ingredients['9'].textPlain}}
					</li>
				</ul>

			</div>
		</div>
	</div>
	
	<!-- /.row -->

