<div id="margin">

	
<br><Br>
	<div class="input-group stylish-input-group">

		<form >
			<select name="Country" data-width="100%" ng-model="searchDrinks" ng-keyup="$event.keyCode == 13 && getDrinks()" class="form-control form-control-lg selectpicker" multiple class="form-control" id="sel2">
				<option value="Israel" data-content="<span class='label label-success'>Israel</span>">Israel</option>
				<option value="Australia" data-icon="glyphicon-heart">
					<button class="btn-success">
						Australia
					</button></option>
				<option value="China" >China</option>
				<option value="United States" >United States</option>
				<option value="Italy" >Italy</option>
				<option value="Spain" >Spain</option>
				<option value="Greece" >Greece</option>

			</select>

			<br>

			<br>
			<span class="input-group-addon">
				<button id="sclick" ng-click="getDrinks()" class="btn btn-danger">
					<span class=" glyphicon glyphicon-search"></span>
				</button></a> </span>
		</form>
<h1> Top 10:</h1>
	</div>

	<BR>
	<div class="row">

		<div ng-repeat="d in drinks" class="col-sm-6 col-md-3">
			<div>
				<div class="panel panel-default panel2">
					<div class="panel-heading">
					<b></b>{{$index+1}}.</b>	<b>{{d.drink.text}}</b></b><br> <b>City:</b> {{d.city}} 
					</div>
					<div id="target" class="panel-body">
						<div class="panel-body">
							
							<div class="row">
							
									
									<p>
										<a href="#items/{{d.drink.id}}/{{d.drink.text}}"><img ng-src="http://assets.absolutdrinks.com/drinks/200x300/{{d.drink.id}}.png" class="img-responsive"     style="width: 70%;     margin: 0 auto;"></a>
									</p>
									
									
								</div>
					
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>

	</div>

</div>

